*, *::before, *::after {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #c9aa88;
  font-family: Arial;
  height: 4000px;
}

.background-container {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  border: 1px solid black;
  background-color: lightcoral;
}

.portfolio-container {
  width: 80%;
  margin: auto;
  padding: 2rem;
  border: 1px solid red;
  background-color: transparent;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 70%;
}

.conte {
  display: flex;
  justify-content:flex-start
}

/* fcc stuff */
/* h2 {
  border-bottom: 4px solid #dfdfe2;
} */
