/* heading/nav bar section */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  z-index: 100;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.363);
  font-weight: 800;
}

nav {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  background-color: #121212;
  color: #F9F6EE;
	/* color: var(--secondary-color); */
	padding: 0 250px;
}

nav p {
  /* width: 40%; */
	/* background-color: red; */
	margin-right: auto;
}

.nav-menu {
  font-size: 1.5rem;
  /* width: 40%; */
	/* background-color: orange; */
	gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}
nav ul li {
  list-style: none;
}

/* nav button {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
} */

/* menu responsive on smaller screen */
nav ul {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #F9F6EE;
  padding: 1rem;
}

nav li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 1.25rem;
  right: 1.75rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #F9F6EE;
  border-radius: 10px;
}
