/* .conte {
  display: flex;
  justify-content:flex-start
} */


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid var(--secondary-color); 
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 200px; */
  /* display: inline-block; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #fbdeea;
  color: #121212;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 10px 18px;
  /* border: 1px solid var(--secondary-color); */
  border: none;
  border-radius: 3px;

}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  /* background-color: #ccc; */
  /* text-decoration: overline underline #121212; */
  background-color: #0073b1;
  color: #F9F6EE;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  margin-top: 10px;
  /* border-top: none; */
  width: 100%;
}

/* fade in effects */
.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* styling of close button of tab */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
