#projects > div {
	margin: 50px 0;
}
#projects .text-heading {
	margin-top: 50px;
}
#projects > div:nth-child(odd) div.flex-half {
	text-align: right;
}
#projects > div:nth-child(odd) div.project-btns {
	justify-content: end;
}

.project-btns {
  display: flex;
  flex-direction: row;
  gap: 32px;
	margin-top: 24px;
}
.project-btns a {
  text-decoration: none;
  padding: 18px 44px;
  background-color: var(--secondary-color);
  color: var(--main-color);
	border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;
}
.project-btns a:nth-child(2) {
	background-color: var(--main-color);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}
.project-btns a:hover {
  background-color: var(--blue-accent);
}
.project-btns a:nth-child(2):hover {
	color: var(--main-color);
}

.project-text {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.project-text p:first-child {
	font-weight: 400;
	font-size: 1.8rem;
}
.project-text .description {
	color: var(--light-gray);
	font-weight: 400;
}
#projects .tech-stack {
	color: var(--light-gray);
	font-weight: 500;
}

#projects .proj-img-container {
  width: 100%;
	min-height: 200px;
	height: 500px;
	position: relative;
	overflow: hidden;
	/* background-color: lightblue; */
	border-radius: 15px;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s;
}
#projects .proj-img-container:hover {
  opacity: 0.85;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
#projects img {
	height: 100%;
  object-fit: cover;
  object-position: center;
	position: absolute;
	top: 13%;
	left: 20%;
	background-color: var(--main-color);
	padding: 5px;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.46)
}

/* project bg colors by project names */
.bg-ecom {
	background-color: #E8D850;
}
.bg-animeapp {
	background-color: #724AE4;
}
.bg-recipe {
	background-color: #D470DD;
}
.bg-portfolio {
	background-color: #2275c1;
}
.bg-youtube {
	background-color: #E07D69;
}
