*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --light-gray: #717171;
  --blue-accent: #2275c1;
  /* --project-accent: #e4872a; */
}

.dark-theme {
  --main-color: #121212;
  --secondary-color: #f9f6ee;
}
.bg-test {
  background-color: antiquewhite;
}
/* html,
body {
  overflow-x: hidden;
} */

/* general css */
body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: Roboto, monospace, sans-serif, Arial;
  transition: 0.2s;
  font-size: 1.25rem;
}
.portfolio-container {
  width: 100%;
  min-width: 380px;
  margin: 0 auto;
  background-color: transparent;
}
section {
  width: 85%;
  max-width: 1800px;
  margin: 100px auto;
}

.text-heading {
  font-size: 2.2rem;
  font-weight: bold;
}
.blue-text {
  color: var(--blue-accent);
}
.lightgray-text {
  color: var(--light-gray);
}
a {
  color: inherit;
}
a.anchor {
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}

.flex-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.flex-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.flex-half {
  flex: 1;
  /* background-color: lightblue; */
}

/* landing front page */
#landing-front {
  max-width: 1400px;
  width: 100%;
  padding: 0 100px;
  /* background-color: lightblue; */
  gap: 80px;
  margin: 120px auto;
}
#landing-front .landing-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.landing-title {
  font-size: 3rem;
  font-weight: 500;
}
#landing-front .landing-img-wrapper {
  /* background-color: red; */
}
#landing-front img {
  /* background-color: orange; */
  width: 100%;
}

/* about section */
#about {
  padding: 150px 100px;
  background-color: var(--secondary-color);
  color: var(--main-color);
}
#about .flex-1 {
  max-width: 1800px;
	width: 90%;
  margin: 0 auto;
}
#about .about-story {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-logos {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.skills-logos i {
  font-size: 2.5rem;
  display: block;
}
#about .skills-logos p {
  font-size: 1rem;
}

/* contact section */
#contact {
  max-width: 1400px;
}
#contact .contact-message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mail-link {
  padding: 0 5px 0 2px;
  transition: all 0.2s;
}
.mail-link:hover {
  background-color: var(--blue-accent);
  color: var(--main-color);
  opacity: 0.8;
}

.contact-socials i {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin: 5px;
  padding: 7px;
  border-radius: 3px;
  transition: all 0.2s;
}
.contact-socials i:hover {
  transform: translate(3px, -5px);
  color: var(--blue-accent);
  box-shadow: -3px 5px 5px 1px rgba(128, 128, 128, 0.63);
}

#contact form {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #a6a6a6;
  border-radius: 15px;
  max-width: 550px;
  min-width: 300px;
  width: 60%;
  padding: 50px 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#contact form label {
  color: #181818;
}
form input,
form textarea {
  padding: 16px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1.5px solid #dadada;
  background-color: #fcfcfc;
}
#name {
  background: url(/project-imgages/contact-name.svg) no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-color: #fcfcfc;
}
#email {
  background: url(/project-imgages/contact-email.svg) no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-color: #fcfcfc;
}
#message {
  font-size: 1.05rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fcfcfc inset !important;
}

form button {
  height: 64px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: 0.2s;
}
form button:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

@media (max-width: 850px) {
  #contact {
    flex-direction: column;
  }
  #contact form {
    margin: auto;
  }
}

/* footer section */
footer {
  text-align: center;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

/* responsive design section below */
@media only screen and (max-width: 1921px) {
  .text-heading {
    font-size: 1.8rem;
  }
  section {
    margin: 80px auto;
  }
  #landing-front {
    padding: 0 60px;
    gap: 60px;
  }
  .project-text p:first-child {
    font-weight: 500;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1281px) {
  body {
    font-size: 1.15rem;
  }
  .text-heading {
    font-size: 1.8rem;
  }
  section {
    width: 90%;
    margin: 60px auto;
  }
  .flex-1 {
    gap: 60px;
  }
  .flex-2 {
    gap: 60px;
  }
  #landing-front {
    width: 100%;
    padding: 0 60px;
    gap: 60px;
    margin: 80 auto;
  }
  .landing-title {
    font-size: 2.4rem;
    font-weight: 500;
  }
  #projects .proj-img-container {
    height: 400px;
  }
  .project-text p:first-child {
    font-weight: 500;
    font-size: 1.6rem;
  }
  #about {
    padding: 100px 60px;
  }
  .contact-socials i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 993px) {
  body {
    font-size: 1rem;
  }
  .text-heading {
    font-size: 1.7rem;
  }
  section {
    width: 90%;
    margin: 50px auto;
  }
  .flex-1 {
    gap: 50px;
  }
  .flex-2 {
    gap: 50px;
  }
  #landing-front {
    width: 100%;
    padding: 0 60px;
    gap: 60px;
    margin: 80 auto;
  }
  .landing-title {
    font-size: 2rem;
  }
  #landing-front .landing-img-wrapper {
    max-width: 40%;
  }
	#projects > div {
		margin: 50px 0;
	}
	#projects .text-heading {
		margin-top: 10px;
	}
  #projects .proj-img-container {
    height: 300px;
  }
  .project-text p:first-child {
    font-size: 1.6rem;
  }
  .project-btns {
    gap: 28px;
    margin-top: 24px;
  }
  .project-btns a {
    padding: 16px 34px;
  }
  #about {
    padding: 100px 60px;
  }
  #about .about-story {
    gap: 20px;
  }
  .skills-logos {
    gap: 70px;
  }
  .skills-logos i {
    font-size: 2.2rem;
  }
  #about .skills-logos p {
    font-size: 1rem;
  }
  .contact-socials i {
    font-size: 2rem;
  }
  #contact .contact-message {
    gap: 20px;
  }
  #contact form {
    width: 60%;
    padding: 50px 40px;
    margin-top: 30px;
    gap: 5px;
  }
  form input,
  form textarea {
    padding: 14px;
    margin-bottom: 16px;
    font-size: 0.95rem;
  }
  #message {
    font-size: 1rem;
  }
	form button {
		height: 45px;
		font-size: 1.05rem;
	}
}

@media only screen and (max-width: 768px) {
	header {
		padding: 0;
	}
	nav {
		width: 100%;
	}
  body {
    font-size: 1.2rem;
  }
  section {
    margin: 50px auto;
  }
  .flex-1 {
    flex-direction: column;
    gap:40px;
  }
  .flex-2 {
    flex-direction: column;
    gap: 40px;
  }
  #landing-front {
    gap: 40px;
		margin: 80px auto;
  }
  .landing-title {
    font-size: 2.5rem;
  }
  #landing-front .landing-img-wrapper {
    max-width: 100%;
  }
	#projects > div:nth-child(odd) div.flex-half {
		text-align: left;
	}
	#projects > div:nth-child(odd) div.project-btns {
		justify-content: start;
	}
  #projects .proj-img-container {
		min-height: 400px;
  }
	.project-text {
		gap: 15px;
	}
  .project-text p:first-child {
    font-size: 1.4rem;
  }
  .project-btns {
    gap: 28px;
    margin-top: 15px;
  }
  .project-btns a {
    padding: 14px 30px;
  }
  #about {
    padding: 100px 60px;
  }
	#about .flex-1 {
		width: 100%;
	}
  .skills-logos {
    gap: 60px;
  }
  #contact form {
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  }
  form input,
  form textarea {
    padding: 16px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  #message {
    font-size: 1.05rem;
  }
	form button {
		height: 60px;
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 480px) {
	header {
		font-size: 1.4rem;
		padding: 0;
		line-height: 60px;
	}
	.nav-menu {
		font-size: 1.1rem;
		gap: 0px;
	}
  body {
    font-size: .9rem;
  }
  .text-heading {
    font-size: 1.4rem;
  }
  section {
    margin: 25px auto;
  }
  .flex-1 {
    gap: 30px;
  }
  .flex-2 {
    gap: 30px;
  }
  #landing-front {
    padding: 0 20px;
    gap: 30px;
		margin: 40px auto;
  }
	#landing-front .landing-info {
		gap: 18px;
	}
  .landing-title {
    font-size: 1.6rem;
  }
	#projects > div {
		margin: 30px 0;
	}
  #projects .proj-img-container {
		min-height: 250px;
  }
	.project-text {
		gap: 15px;
	}
  .project-text p:first-child {
    font-size: 1.2rem;
  }
  .project-btns {
    gap: 28px;
    margin-top: 15px;
  }
  .project-btns a {
    padding: 10px 24px;
  }
  #about {
    padding: 60px 25px;
  }
  #about .about-story {
    gap: 20px;
  }
  .skills-logos {
    gap: 40px;
  }
  .skills-logos i {
    font-size: 1.7rem;
  }
  #about .skills-logos p {
    font-size: .8rem;
  }
  #contact .contact-message {
    gap: 16px;
  }
  #contact form {
    width: 100%;
    padding: 40px 30px;
    gap: 10px;
  }
  form input,
  form textarea {
    padding: 16px;
    margin-bottom: 10px;
    font-size: .9rem;
  }
  #message {
    font-size: .95rem;
  }
	form button {
		height: 40px;
		font-size: .9rem;
	}
}

/* nav bar on smaller screens */
@media (max-width: 850px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav p {
    margin-left: 2.5rem;
  }
  .toggle-button {
    display: flex;
  }
  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .nav-menu li {
    text-align: center;
  }
  .nav-menu li a {
    padding: 0 1rem;
  }
  .nav-menu.active {
    display: flex;
  }
}

/* for debugging */
/* * {
	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
