*, *::before, *::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
/* orig colors
~black: #000033     (secondary)
~bonewhite: #F9F6EE (main)

others:
Royal Blue (#00539CFF) and Peach (#EEA47FFF)
#cd5c5c
#b38c8f
 */

:root {
  --main-color: #F9F6EE;
  --secondary-color: #121212;
  --blue-accent: #0072b1;
  --project-accent: #dc3d4b;
}

.dark-theme {
  --main-color: #121212;
  --secondary-color: #F9F6EE;
}

/* general css */
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: Arial;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: monospace, sans-serif;
  transition: 0.3s;
}

.background-container {
  width: 100%;
}

.portfolio-container {
  width: 85%;
  min-width: 480px;
  max-width: 1600px;
  margin: 0 auto;
  /* border: 1px solid red; */
  background-color: transparent;
}

section {
  width: 90%;
  margin: 80px auto;
}

.text-heading {
  text-align: center;
  font-size: 2rem;
  /* background-color: lightblue; */
}

.blue-text {
  color: var(--blue-accent);
}

a.anchor {
  display: block;
  position: relative;
  top: -11vh;
  visibility: hidden;
}

/* landing front page */
#landing-front {
  font-size: 40px;
  height: 100vh;
  margin: 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}

#landing-front h2, .landing-arrow i {
  color: var(--blue-accent);
}

.landing-arrow {
  position: absolute;
  bottom: 15%;
  right: 15%;
}

/* about section */
#about {
  padding: 100px 0;
}

#about p {
  margin: 3rem auto;
  font-size: 20px;
  /* background-color: red; */
}

#about strong {
  text-decoration: underline;
}

.skills-logos {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.skills-logos i {
  font-size: 3rem;
  display: block;
}

#about .skills-logos p {
  margin: 2.5%;
}

/* contact section */
#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  padding: 20px;
}

#contact .contact-message {
  margin-top: 30px;
  width: 80%;
  font-size: 1.5rem;
}

.contact-mail {
  margin: 15px 0;
}

.contact-mail a {
  color: inherit;
}

.contact-socials i {
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 5px;
  padding: 7px;
  border-radius: 3px;
  transition: all 0.3s;
}

.contact-socials i:hover {
  transform: translate(3px, -5px);
  color: var(--blue-accent) !important;
  box-shadow: -3px 5px 5px 1px rgba(128, 128, 128, 0.63);
}

#yt-icon {
  color: #FF0000;
}

.mail-link {
  padding: 0 5px 0 2px;
  transition: all 0.3s;
}

.mail-link:hover {
  background-color: var(--blue-accent);
  color: var(--main-color);
  opacity: 0.8;
}

#contact form {
  box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.418);
  border-radius: 3px;
  max-width: 900px;
  min-width: 500px;
  width: 60%;
  padding: 50px 27px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form input, form textarea {
  padding: 7px;
  padding-left: 13px;
  font-size: 1.4rem;
  background-color: #F9F6EE;
  border-radius: 3px;
  border: 1.5px solid #000033;
}

form button {
  height: 20%;
  padding: 8px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 3px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  transition: .3s;
}

form button:hover {
  transform: translate(3px, -5px);
  background-color: var(--blue-accent);
  box-shadow: -3px 5px 5px 1px rgba(128, 128, 128, 0.63);
  color: #F9F6EE;
}

@media (max-width: 993px) {
  #contact {
    flex-direction: column;
  }
  #contact form {
    margin: auto;
  }
}

/* footer section */
footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 8px;
}

/* responsive design section below */
@media only screen and (max-width: 993px) {
  section {
    width: 90%;
    margin: 50px auto;
  }
  
  .text-heading {
    font-size: 1.5rem;
  }

  /* header */
  header {
    font-size: 1.5rem;
  }

  nav p {
    width: 30%;
  }

  .nav-menu {
    font-size: 1.25rem;
    width: 50%;
  }

  nav button {
    font-size: 1rem;
    padding: 7px;
  }

  /* landing */
  #landing-front {
    font-size: 34px;
    padding: 6%;
  }
  
  /* about */
  #about {
    padding: 0;
  }
  
  #about p {
    margin: 3rem auto;
    font-size: 17px;
  }
  
  .skills-logos i {
    font-size: 2.4rem;
  }

  #about .skills-logos p {
    margin: 4%;
  }

  /* project */
  .tab button {
    padding: 8px 10px;
    font-size: 1rem;
    margin: 10px 14px;
  }

  .project-btns {
    gap: 10px;
  }

  .project-btns button {
    padding: 12px 15px;
    margin: 10px;
    font-size: 13px;
  }

  .project-text {
    font-size: 1.1rem;
    margin: 8px;
  }

  #projects .proj-img-container {
    width: 80%;
    margin: 20px auto;
  }

  /* contact */
  #contact .contact-message {
    margin-top: 15px;
    width: 80%;
    font-size: 1.25rem;
  }
  
  .contact-mail {
    margin: 10px 0;
  }
  
  .contact-socials i {
    font-size: 2.5rem;
  }
    
  #contact form {
    min-width: 300px;
    width: 70%;
    padding: 40px 27px;
    margin-top: 20px;
    gap: 1.2rem;
  }

  form input, form textarea {
    padding: 10px;
    padding-left: 13px;
    font-size: 1rem;
  }

  form button {
    height: 20%;
    padding: 8px;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: normal;
  }

  /* footer */
  footer {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  section {
    width: 90%;
    margin: 30px auto;
  }
  
  .text-heading {
    font-size: 1.4rem;
  }

  /* header */
  header {
    font-size: 1.4rem;
  }

  .nav-menu {
    font-size: 1.15rem;
  }

  nav button {
    font-size: 0.9rem;
    padding: 5px;
  }

  /* landing */
  #landing-front {
    font-size: 27px;
    padding: 4%;
  }
  
  /* about */  
  #about p {
    margin: 3rem auto;
    font-size: 16px;
  }

  .skills-logos i {
    font-size: 1.8rem;
  }

  #about .skills-logos p {
    margin: 4%;
  }

  /* project */
  .tab button {
    padding: 6px 10px;
    font-size: 15px;
    margin: 5px;
  }

  .project-btns{
    gap: 10px;
    margin-top: 10px;
  }

  .project-btns button {
    padding: 10px 14px;
    margin: 0px;
    letter-spacing: 2px;
    font-size: 13px;
  }

  .project-text {
    font-size: 1rem;
    margin: 30px 0;
  }

  #projects .proj-img-container {
    width: 90%;
    margin: 20px auto;
  }

  /* contact */
  #contact .contact-message {
    margin-top: 15px;
    width: 80%;
    font-size: 1.1rem;
  }
  
  .contact-mail {
    margin: 8px 0;
  }
  
  .contact-socials i {
    font-size: 2.3rem;
  }
    
  #contact form {
    min-width: 300px;
    width: 85%;
    padding: 30px 23px;
    margin-top: 20px;
    gap: 1rem;
  }

  form input, form textarea {
    padding: 10px;
    padding-left: 13px;
    font-size: 1rem;
  }

  form button {
    height: 2%;
    padding: 8px;
    letter-spacing: 3px;
    font-size: 15px;
  }

  /* footer */
  footer {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 480px) {
  hr {
    width: 95%;
  }

  section {
    width: 90%;
    margin: 30px auto;
  }
  
  .text-heading {
    font-size: 1.4rem;
  }

  /* header */
  header {
    font-size: 1.3rem;
  }

  .nav-menu {
    font-size: 1rem;
  }

  nav button {
    font-size: 0.9rem;
    padding: 4px;
  }

  /* landing */
  #landing-front {
    font-size: 27px;
    padding: 7%;
  }
  
  /* about */  
  #about p {
    margin: 3rem auto;
    font-size: 16px;
  }

  .skills-logos i {
    font-size: 2.2rem;
  }

  #about .skills-logos p {
    margin: 3%;
  }

  /* project */
  #projects > p {
    font-size: 1rem;
  }

  .tab button {
    padding: 6px 8px;
    font-size: 1rem;
  }

  .project-btns{
    gap: 5px;
    margin-top: 10px;
  }

  .project-btns button {
    padding: 6px 8px;
    font-size: 13px;
  }

  .project-text {
    font-size: 1rem;
    margin: 20px 0;
  }

  #projects .proj-img-container {
    width: 100%;
    margin: 30px auto;
  }

  /* contact */
  #contact {
    padding: 0;
  }

  #contact .contact-message {
    margin-top: 15px;
    width: 100%;
    font-size: 1rem;
  }

  /* footer */
  footer {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 8px;
  }
}

/* nav bar on smaller screens */
@media (max-width: 850px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav p {
    margin-left: 2.5rem;
  }
  
  .toggle-button {
    display: flex;
  }

  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-menu li {
    text-align: center;
  }

  .nav-menu li a {
    padding: .5rem 1rem;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu button {
    margin-bottom: 1rem;
  }
}
